
# Build System Configuration
# --------------------------
HELP=NO
# Suppress build system output, with the exception of errors.
QUIET=YES

# Enabled Features Configuration
# ------------------------------

# Possible Values 
# - X11, WAYLAND (linux only)
# - DEFAULT (picks current running window system) 
# - NONE (disables windowing in the standard library)
WINDOW_SYSTEM=DEFAULT

# Dependency Configuration
# ------------------------

# Debug Assist Options
# --------------------
PROFILE=NO

# Will panic if certain expected invariants are invalidated
# always on by deafult in debug mode.
DEBUG_ASSERT=NO

SANITIZERS=-fsanitize=address,leak,undefined
